{{> header}}
<link rel="stylesheet" href="/css/chat.css">
<main class="w-9/12 mx-auto flex py-8">
    <section class="flex w-full">
        {{> modal/chat}}
        {{> sidebar-left}}
        <article class="w-4/5 pr-4">
            <div class="bg-white rounded-md border-1 border-black p-3 shadow-xl cursor-pointer" data-toggle="modal"
                data-target="#exampleModal">
                <label for="" class="flex items-center  cursor-pointer">
                    <img class="rounded-full mr-2 text-white" src="{{user.foto}}" alt="" width="19px" height="19px">
                    <p class="cursor-pointer">{{user.nombres}}</p>
                </label>
                <input class="mt-2 w-full py-1 px-2 focus:outline-none  cursor-pointer"
                    placeholder="¿Cuál es tu pregunta o enlace?" type="text">
            </div>
            {{#each preguntas}}
            {{> pregunta pregunta=this}}
            {{/each}}
        </article>
    </section>
    {{> modal/nuevaRespuesta}}
    {{!-- {{> sidebar-right}} --}}
    {{> footer}}
    <script src="/js/votos.js"></script>
    <script src="/js/hacerPregunta.js"></script>
    <script src="/js/hacerRespuesta.js"></script>
    <script src="/js/modalChat.js"></script>
</main>