<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="absolute">
        <div class="container-img__login"></div>
    </div>
    <div class="absolute b-0 container-login">

    </div>
</body>

<a href='https://www.freepik.es/vectores/fondo'>Vector de Fondo creado por vectorpocket - www.freepik.es</a>

</html>