* {
    outline: none;
}
.chat {
    background: #ffffff;
    border-radius: 8px;
    bottom: -20px;
    opacity: 0;
    padding: 1em;
    position: fixed;
    right: 80px;
    visibility: hidden;
    transition: 0.4s;
    width: 300px;
    -webkit-box-shadow: 0px -4px 21px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px -4px 21px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px -4px 21px 0px rgba(0, 0, 0, 0.38);
}

#chat {
    min-height: 350px;
}

.chat-active {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}
.img-chat {
    height: 35px;
    object-fit: cover;
    object-position: center;
    width: 35px;
}
.img-perfil {
    height: 25px;
    object-fit: cover;
    object-position: center;
    width: 25px;
}
