.main_login {
    background-image: url("/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.text-area__pregunta {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    padding: 0px;
    outline: none;
    border: none;
    flex: 1 1 0%;
    min-height: 26px;
    overflow: hidden;
    overflow-wrap: break-word;
    height: 26px;
}
