<form class="space-y-3" action="/auth/signup" method="POST">
    <div class="form-group">
        <input type="email" class="form-control w-full" name="email" placeholder="Correo electrónico" autocomplete="off"
            required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control w-full" name="nombres" placeholder="Nombres" autocomplete="false"
            autocomplete="off" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control w-full" name="password" placeholder="Contraseña" autocomplete="off"
            required>
    </div>
    <div class="form-group text-left">
        <a class="cursor-pointer" id="registrarGithub">Iniciar con Github</a>
        <button type="submit" class="btn btn-success">Registrar</button>
    </div>
</form>