<article class="w-1/5 pr-4">
    <a href="#">
        <li class="flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
    </a>
</article>