<article class="w-1/5 pr-4">
    {{#each materias}}
    <a href="/post/materia/{{this._id}}">
        <li class="flex items-center mb-2">
            <img class="rounded-md mr-2 w-4/12 text-white cursor-pointer object-cover object-center "
                style="height: 45px; overflow: hidden;" src="/{{this.fotografia}}">
            <p class="pl-1 w-8/12 text-xs">{{this.nombre}}</p>
        </li>
    </a>
    {{/each}}
</article>