<aside class="w-1/5 pl-4">
    <ol class="bg-white rounded-md border-1 border-black shadow-xl">
        <h1 class="w-full bg-gray-100 px-2 py-1">Mejora tu canal</h1>
        <li class="border-t border-gray-400 px-2 py-1 flex items-center">
            <input class="mr-2" type="checkbox">
            <p>Lorem ipsum</p>
        </li>
        <li class="border-t border-gray-400 px-2 py-1 flex items-center">
            <input class="mr-2" type="checkbox">
            <p>Lorem ipsum</p>
        </li>
        <li class="border-t border-gray-400 px-2 py-1 flex items-center">
            <input class="mr-2" type="checkbox">
            <p>Lorem ipsum</p>
        </li>
        <li class="border-t border-gray-400 px-2 py-1 flex items-center">
            <input class="mr-2" type="checkbox">
            <p>Lorem ipsum</p>
        </li>
        <li class="border-t border-gray-400 px-2 py-1 flex items-center">
            <input class="mr-2" type="checkbox">
            <p>Lorem ipsum</p>
        </li>
    </ol>
    <ol class="bg-white rounded-md border-1 border-black mt-4 shadow-xl">
        <h1 class="w-full bg-gray-100 px-2 py-1">Espacios que seguir</h1>
        <li class="border-t border-gray-400 px-2 py-1 flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="border-t border-gray-400 px-2 py-1 flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="border-t border-gray-400 px-2 py-1 flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="border-t border-gray-400 px-2 py-1 flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
        <li class="border-t border-gray-400 px-2 py-1 flex items-center">
            <img class="w-5 h-10" src="images/ico.svg">
            <p class="pl-2">Lorem ipsum</p>
        </li>
    </ol>
</aside>